.App {
  width: 100vw;
  height: 100vh;
  background-color: #faf9fb;
  overflow-x: hidden;
}
.App::-webkit-scrollbar {
  display: none;
}
/* Header Section Styles Starts Here */
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px 1px;
  height: 60px;
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
}
.logo {
  min-width: 40px;
  width: 40px;
}
.inputBox {
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 8px 15px;
  width: 120px;
}
.inputBox .searchIcon {
  color: #787a84;
  font-size: 20px;
}
.inputBox input {
  width: 100%;
  height: 100%;
  outline: none;
  background: transparent;
  color: #787a84;
  padding-left: 8px;
  font-size: 14px;
  font-weight: 500;
}
.shoppingCart {
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
}
.shoppingCart .cart {
  font-size: 30px;
  color: #373848;
}
.shoppingCart .cart_content {
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  background-color: rgb(72, 182, 255);
  border-radius: 100%;
  position: absolute;
  top: -8px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shoppingCart .cart_content p {
  font-weight: 500;
  color: #faf9fb;
}
.profileContainer {
  display: flex;
  align-items: center;
}
.profileContainer .imgBox {
  width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 100vw;
  background: #444;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.profileContainer .imgBox .profileImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profileContainer .userName {
  font-size: 16px;
  margin-left: 8px;
  font-weight: 500;
  display: none;
  align-items: center;
  display: none;
}
.toggleMenu {
  transform: rotate(90deg);
}
.toggleMenu .toggleIcon {
  color: rgb(72, 182, 255);
  font-size: 30px;
}
/* Header Section Styles Ends Here */
/* Main Section Styles Starts Here */
main {
  width: 100%;
  height: auto;
  margin-top: 70px;
}
.mainContainer {
  width: 100%;
  height: auto;
  background: #faf9fb;
  padding: 5px;
}
.banner {
  width: 98%;
  height: 140px;
  border-radius: 10px;
  background: url("./Images/thirdImg.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}
.deliveryPic {
  position: absolute;
  right: -60px;
  bottom: -10px;
  width: 240px;
}
.bannerContent {
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.bannerContent h3 {
  font-size: 16px;
  font-weight: 700;
  color: #2a2b3c;
  margin: 1px;
}
.bannerContent p {
  font-size: 14px;
  width: 200px;
  color: #989594;
  margin: 3px 0;
}
.bannerContent p span {
  color: rgb(72, 182, 255);
  font-weight: 600;
}
.bannerContent a {
  background: rgb(72, 182, 255);
  padding: 3px 14px;
  border-radius: 100vw;
  color: #faf9fb;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
/* Dish Container */
.dishContainer {
  width: 100%;
  padding: 5px 0;
}
.menuCard {
  width: 100%;
}
.subMenuContainer,
.viewAll {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 2px;
}
.subMenuContainer h3 {
  font-size: 16px;
  margin: 0;
  font-weight: 600;
  color: #2a2b3c;
}
.subMenuContainer .viewAll p {
  font-size: 12px;
  color: rgb(72, 182, 255);
  font-weight: 400;
}
.subMenuContainer .viewAll i {
  background: rgb(72, 182, 255);
  width: 20px;
  height: 20px;
  min-width: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-left: 5px;
}
.rowContainer {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 10px 0;
  padding: 10px 0;
  width: 100%;
  justify-content: center;
}
.rowContainer::-webkit-scrollbar {
  display: none;
}
.rowMenuCard {
  width: 150px;
  min-width: 150px;
  height: 180px;
  border-radius: 10px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  cursor: pointer;
  margin: 0px 6px;
}
.rowMenuCard:hover,
.rowMenuCard.active {
  background-color: rgb(72, 182, 255);
}
.rowMenuCard .imgBox {
  width: 80px;
  min-width: 80px;
  height: 80px;
  min-height: 80px;
  border-radius: 100vw;
  background: rgb(72, 182, 255);
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  overflow: hidden;
}
.rowMenuCard:hover .imgBox,
.rowMenuCard.active .imgBox {
  background-color: #fff;
}
.rowMenuCard .imgBox img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.rowMenuCard:hover .imgBox img,
.rowMenuCard.active .imgBox img {
  width: 80%;
  height: 80%;
}
.rowMenuCard h3 {
  color: rgb(72, 182, 255);
  font-size: 20px;
  font-weight: 500;
  transition: 0.5s;
  margin: 0;
}
.rowMenuCard:hover h3,
.rowMenuCard.active h3 {
  color: #fff;
}
.rowMenuCard .loadMenu {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  background: rgb(72, 182, 255);
  transition: 0.5s;
}
.rowMenuCard:hover .loadMenu,
.rowMenuCard.active .loadMenu {
  background-color: #fff;
}
.rowMenuCard .loadMenu .MuiSvgIcon-root {
  font-size: 18px;
  color: #faf9fb;
}
.rowMenuCard:hover .loadMenu .MuiSvgIcon-root,
.rowMenuCard.active .loadMenu .MuiSvgIcon-root {
  color: rgb(72, 182, 255);
}

.dishitemContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.itemCard {
  width: 150px;
  height: 180px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 0;
}

.itemCard .imgBox {
  width: 90px;
  height: 90px;
  border-radius: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: absolute;
  top: -10px;
}
.itemCard .imgBox img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.itemImg {
  position: absolute;
  top: 0;
  width: 60%;
}
.itemContent {
  background: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  padding: 10px;
  padding-top: 50px;
  width: 82%;
}
.itemContent h3 {
  margin: 0;
  font-size: 15px;
}
.itemContent .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.itemContent .bottom .rating .MuiSvgIcon-root {
  font-size: 15px;
}
.orange {
  color: #f8901c !important;
}
.grey {
  color: #373848 !important;
}
.itemContent .bottom .price {
  font-size: 15px;
}
.itemContent .bottom .price span {
  color: rgb(72, 182, 255);
  font-size: 12px;
}
.itemContent .addtoCart {
  background: rgb(72, 182, 255);
  width: 25px;
  height: 25px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-self: center;
  box-shadow: rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.itemContent .addtoCart .MuiSvgIcon-root {
  color: #faf9fb;
  font-size: 15px;
}
.isfavourite {
  position: absolute;
  top: 80px;
  right: 10px;
  transition: 0.5s;
}
.isfavourite .MuiSvgIcon-root {
  font-size: 18px;
  color: #ff000088;
}
.isfavourite.active .MuiSvgIcon-root {
  color: #ff0000;
  filter: drop-shadow(0px 0px 8px #ff0000);
}
/* Right Menu Styles */
.rightMenu {
  width: 350px;
  height: calc(100% - 60px);
  background-color: #fff;
  position: fixed;
  right: 0;
  top: 60px;
  z-index: 105;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
}
.debitCardContainer {
  padding: 10px;
  width: 100%;
  height: auto;
}
.debitCard {
  position: relative;
  width: 100%;
  height: 170px;
  min-width: 300px;
  min-height: 170px;
  border-radius: 15px;
}
.debitCard::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(72, 182, 255);
  transform: rotate(5deg);
  filter: blur(2px);
  z-index: -2;
  border-radius: 15px;
}
.debitCard::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    35deg rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: blur(10px);
  z-index: -1;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 15px;
}
.cardGroup {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.cardChip,
.cardLogo,
.card_number,
.card_name,
.card_from,
.card_to,
.card_ring {
  position: absolute;
}
.cardLogo {
  width: 60px;
  top: 30px;
  left: 30px;
  height: auto;
}
.cardChip {
  width: 40px;
  height: auto;
  top: 50%;
  left: 30px;
}
/* Main Section Styles Ends Here */
/* Bottom Menu Styles Starts HEre*/
.bottomMenu {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background: #d5d5d5;
  border-radius: 25px 25px 0 0;
  z-index: 101;
}
.bottomMenu ul {
  display: flex;
  /* margin-block-start: 0em;
  margin-block-end: 0em; */
}
.bottomMenu ul li {
  position: relative;
  width: 60px;
  height: 60px;
  z-index: 1;
}
.bottomMenu ul li .menuLink {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  text-align: center;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.bottomMenu ul li .icon {
  position: relative;
  display: block;
  line-height: 70px;
  text-align: center;
  transition: 0.5s;
}
.bottomMenu ul li .menuLink .icon .MuiSvgIcon-root {
  font-size: 25px;
  color: #373848;
}
.bottomMenu ul li.active .menuLink .icon {
  transform: translateY(-26px);
}
.bottomMenu ul li.active .menuLink .icon .MuiSvgIcon-root {
  color: #faf9fb;
  transition: 0.5s;
}
.indicator {
  position: absolute;
  height: 50px;
  width: 50px;
  background: rgb(72, 182, 255);
  border-radius: 100vw;
  top: -50%;
  border: 6px solid #faf9fb;
  transition: 0.5s;
}
.indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -20px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 0px -12px 0 0 #faf9fb;
}
.indicator::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -20px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: 0px -12px 0 0 #faf9fb;
}
.bottomMenu ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(60px * 0));
}
.bottomMenu ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(60px * 1));
}
.bottomMenu ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(60px * 2));
}
.bottomMenu ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(60px * 3));
}
.bottomMenu ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(60px * 4));
}
.bottomMenu ul li:nth-child(6).active ~ .indicator {
  transform: translateX(calc(60px * 5));
}
/* Bottom Menu Styles Ends  HEre*/
